<!-- Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-end">
      <div class="col-sm mb-2 mb-sm-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-no-gutter">
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Apps</a></li>
            <li class="breadcrumb-item active" aria-current="page">File manager</li>
          </ol>
        </nav>

        <h1 class="page-header-title">File manager</h1>
      </div>
      <div class="col-sm-auto">
        <!-- Button Group -->
        <div class="btn-group" role="group">
          <a class="btn btn-primary" nzType="primary" (click)="showModal()">
            <i class="tio-upload-on-cloud mr-1"></i> Upload
          </a>
          <nz-modal [(nzVisible)]="isVisible" nzTitle="Modal" nzOkText="Ok" nzCancelText="Cancel" (nzOnOk)="handleOk()"
            (nzOnCancel)="handleCancel()">
            <ng-container *nzModalContent>
              <app-modal-up-file></app-modal-up-file>
            </ng-container>
          </nz-modal>
          <!-- Unfold -->
          <div class="hs-unfold btn-group">
            <a class="js-hs-unfold-invoker btn btn-icon btn-primary dropdown-toggle dropdown-toggle-empty" nz-popover
              [nzPopoverContent]="contentTemplateUpload" nzPopoverTrigger="click"></a>
            <div class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right">
              <ng-template #contentTemplateUpload>
                <a class="dropdown-item" href="#">
                  <i class="tio-folder-add dropdown-item-icon"></i> New folder
                </a>
                <a class="dropdown-item" href="#">
                  <i class="tio-folder-shared dropdown-item-icon"></i> New shared folder
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#uploadFilesModal">
                  <i class="tio-file-add-outlined dropdown-item-icon"></i> Upload files
                </a>
                <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#uploadFilesModal">
                  <i class="tio-publish dropdown-item-icon"></i> Upload folder
                </a>
              </ng-template>
            </div>

          </div>
          <!-- End Unfold -->
        </div>
        <!-- End Button Group -->
      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Page Header -->

  <h2 class="h4 mb-3">Pinned access <i class="tio-help-outlined text-muted" data-toggle="tooltip" data-placement="right"
      title="Pinned access to files you've been working on."></i></h2>

  <!-- Pinned Access -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-5">
    <div class="col mb-3 mb-lg-5">
      <!-- Card -->
      <a class="card card-sm card-hover-shadow h-100 text-center" href="#">
        <!-- Checkbox -->
        <div class="custom-control custom-checkbox-switch card-pinned">
          <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input"
            checked="">
          <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
            <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
              <i class="tio-star-outlined"></i>
            </span>
            <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
              <i class="tio-star"></i>
            </span>
          </label>
        </div>
        <!-- End Checkbox -->

        <img class="card-img-top" src="assets\img\600x200\img2.jpg" alt="Image Description">

        <div class="card-footer border-top-0">
          <span class="d-block font-size-sm text-muted mb-1">1 files</span>
          <h5>Screenshots from Figma</h5>
        </div>
      </a>
      <!-- End Card -->
    </div>

    <div class="col mb-3 mb-lg-5">
      <!-- Card -->
      <a class="card card-sm card-hover-shadow h-100 text-center" href="#">
        <!-- Checkbox -->
        <div class="custom-control custom-checkbox-switch card-pinned">
          <input type="checkbox" id="starredCheckbox2" class="custom-control-input custom-checkbox-switch-input"
            checked="">
          <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox2">
            <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
              <i class="tio-star-outlined"></i>
            </span>
            <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
              <i class="tio-star"></i>
            </span>
          </label>
        </div>
        <!-- End Checkbox -->

        <div class="card-body">
          <img class="avatar avatar-4by3" src="assets\svg\brands\google-sheets.svg" alt="Image Description">
        </div>

        <div class="card-footer border-top-0">
          <span class="d-block font-size-sm text-muted mb-1">0 files</span>
          <h5>Early audit sheets for last year</h5>
        </div>
      </a>
      <!-- End Card -->
    </div>

    <div class="col mb-3 mb-lg-5">
      <!-- Card -->
      <a class="card card-sm card-hover-shadow h-100 text-center" href="#">
        <!-- Checkbox -->
        <div class="custom-control custom-checkbox-switch card-pinned">
          <input type="checkbox" id="starredCheckbox3" class="custom-control-input custom-checkbox-switch-input"
            checked="">
          <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox3">
            <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
              <i class="tio-star-outlined"></i>
            </span>
            <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
              <i class="tio-star"></i>
            </span>
          </label>
        </div>
        <!-- End Checkbox -->

        <div class="card-body">
          <img class="avatar avatar-4by3" src="assets\svg\components\placeholder-img-format.svg"
            alt="Image Description">
        </div>

        <div class="card-footer border-top-0">
          <span class="d-block font-size-sm text-muted mb-1">27 files</span>
          <h5>Article images</h5>
        </div>
      </a>
      <!-- End Card -->
    </div>

    <div class="col mb-3 mb-lg-5">
      <!-- Card -->
      <a class="card card-sm card-hover-shadow h-100 text-center" href="#">
        <!-- Checkbox -->
        <div class="custom-control custom-checkbox-switch card-pinned">
          <input type="checkbox" id="starredCheckbox4" class="custom-control-input custom-checkbox-switch-input"
            checked="">
          <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox4">
            <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
              <i class="tio-star-outlined"></i>
            </span>
            <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
              <i class="tio-star"></i>
            </span>
          </label>
        </div>
        <!-- End Checkbox -->

        <div class="card-body">
          <img class="avatar avatar-4by3" src="assets\svg\brands\google-slides.svg" alt="Image Description">
        </div>

        <div class="card-footer border-top-0">
          <span class="d-block font-size-sm text-muted mb-1">8 files</span>
          <h5>Solving product design exercises</h5>
        </div>
      </a>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Pinned Access -->

  <h2 class="h4 mb-3">Folders</h2>

  <!-- Folders -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-5">
    <div class="col mb-3 mb-lg-5" *ngFor="let data of listFolder">
      <!-- Card -->
      <div class="card card-sm card-hover-shadow h-100">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <i class="tio-folder-shared tio-xl text-body mr-2"></i>

            <h5 class="card-title text-truncate mr-2">{{data.name}}</h5>

            <!-- Unfold -->
            <div class="hs-unfold ml-auto">
              <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-ghost-secondary card-unfold rounded-circle"
                nz-popover [nzPopoverContent]="contentTemplateFolders" nzPopoverTrigger="click">
                <i class="tio-more-vertical"></i>
              </a>
              <ng-template #contentTemplateFolders>
                <div style="min-width: 13rem;">
                  <span class="dropdown-header">Settings</span>

                  <a class="dropdown-item" href="#">
                    <i class="tio-share dropdown-item-icon"></i> Share folder
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="tio-folder-add dropdown-item-icon"></i> Move to
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="tio-star-outlined dropdown-item-icon"></i> Add to stared
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="tio-edit dropdown-item-icon"></i> Rename
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="tio-download-to dropdown-item-icon"></i> Download
                  </a>

                  <div class="dropdown-divider"></div>

                  <a class="dropdown-item" href="#">
                    <i class="tio-chat-outlined dropdown-item-icon"></i> Report
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="tio-delete-outlined dropdown-item-icon"></i> Delete
                  </a>
                </div>
              </ng-template>
            </div>

            <!-- End Unfold -->
          </div>
        </div>
        <a class="stretched-link" href="#"></a>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Folders -->

  <!-- Header -->
  <div class="row align-items-center mb-2">
    <div class="col">
      <h2 class="h4 mb-0">Files</h2>
    </div>

    <div class="col-auto">
      <!-- Nav -->
      <ul class="nav nav-segment" id="connectionsTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid"
            aria-selected="true" title="Column view">
            <i class="tio-column-view-outlined"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list"
            aria-selected="false" title="List view">
            <i class="tio-agenda-view-outlined"></i>
          </a>
        </li>
      </ul>
      <!-- End Nav -->
    </div>
  </div>
  <!-- End Header -->

  <!-- Tab Content -->
  <div class="tab-content" id="connectionsTabContent">
    <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
      <!-- Folders -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <div class="col mb-3 mb-lg-5" *ngFor='let data of listOfData'>
          <!-- Card -->
          <div class="card card-sm card-hover-shadow card-header-borderless h-100 text-center">
            <div class="card-header">
              <small>{{data.size}}</small>

              <!-- Unfold -->
              <div class="hs-unfold ml-auto">
                <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-ghost-secondary card-unfold rounded-circle"
                  nz-popover [nzPopoverContent]="contentTemplateUnfold" nzPopoverTrigger="click">
                  <i class="tio-more-vertical"></i>
                </a>

                <div id="filesGridDropdown1" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right"
                  style="min-width: 13rem;">
                  <ng-template #contentTemplateUnfold>
                    <span class="dropdown-header">Settings</span>

                    <a class="dropdown-item" *ngIf="!data.shared">
                      <i class="tio-share dropdown-item-icon"></i> Share file
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-folder-add dropdown-item-icon"></i> Move to
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-star-outlined dropdown-item-icon"></i> Add to stared
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-edit dropdown-item-icon"></i> Rename
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-download-to dropdown-item-icon"></i> Download
                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="#">
                      <i class="tio-chat-outlined dropdown-item-icon"></i> Report
                    </a>
                    <a class="dropdown-item" (click)="sendRequest(data.idFile)">
                      <i class="tio-delete-outlined dropdown-item-icon"></i> Delete
                    </a>
                  </ng-template>
                </div>
              </div>
              <!-- End Unfold -->
            </div>

            <div class="card-body">
              <img class="avatar avatar-4by3" src="assets\svg\brands\google-docs.svg" alt="Image Description">

              <a class="stretched-link" href="#"></a>
            </div>

            <div class="card-body">
              <h5 class="card-title">{{data.name}}</h5>
              <p class="small">Updated 50 min ago</p>
            </div>
          </div>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Folders -->
    </div>

    <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
      <ul class="list-group" *ngFor='let data of listOfData'>
        <!-- List Item -->
        <li class="list-group-item">
          <div class="row align-items-center gx-2">
            <div class="col-auto">
              <img class="avatar avatar-xs avatar-4by3" src="assets\svg\brands\google-docs.svg" alt="Image Description">
            </div>

            <div class="col">
              <h5 class="mb-0">
                <a class="text-dark" href="#">{{data.name}}</a>
              </h5>
              <ul class="list-inline list-separator small">
                <li class="list-inline-item">Updated 50 min ago</li>
                <li class="list-inline-item">25kb</li>
              </ul>
            </div>

            <div class="col-auto">
              <!-- Unfold -->
              <div class="hs-unfold">
                <a class="js-hs-unfold-invoker btn btn-sm btn-white" nz-popover
                  [nzPopoverContent]="contentTemplateUnfold" nzPopoverTrigger="click">
                  <span class="d-none d-sm-inline-block mr-1">More</span>
                  <i class="tio-chevron-down"></i>
                </a>

                <div id="filesListDropdown1" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right"
                  style="min-width: 13rem;">
                  <ng-template #contentTemplateUnfold>
                    <span class="dropdown-header">Settings</span>

                    <a class="dropdown-item" *ngIf="!data.shared">
                      <i class="tio-share dropdown-item-icon"></i> Share file
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-folder-add dropdown-item-icon"></i> Move to
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-star-outlined dropdown-item-icon"></i> Add to stared
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-edit dropdown-item-icon"></i> Rename
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-download-to dropdown-item-icon"></i> Download
                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="#">
                      <i class="tio-chat-outlined dropdown-item-icon"></i> Report
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-delete-outlined dropdown-item-icon"></i> Delete
                    </a>
                  </ng-template>
                </div>
              </div>
              <!-- End Unfold -->
            </div>
          </div>
          <!-- End Row -->
        </li>
        <!-- End List Item -->
      </ul>
    </div>
  </div>
  <!-- End Tab Content -->
</div>
<!-- End Content -->